.button {
    &-default {
        padding: 0.7rem 0.9rem;
				margin-top: 1rem;
        background-color: $orange;
        border-radius: 3px;
        transition: all 0.15s ease;
        cursor: pointer;
        &:hover {
            color: darken($white, 7);
            background-color: darken($orange, 7);
        }
    }
}